<p>Si jala</p>
<app-header></app-header>
<app-footer></app-footer>
<!--<p>login works!</p>
<app-header></app-header>
<body>
  <main>
    <div class="box">
      <div class="inner-box">
        <div class="forms-wrap">
          <form action="login.component.html" autocomplete="off" class="sign-in.form">
            <div class="logo">
              <img src="../../../assets/icono.png" alt="logo">
              <h4>MascotHist</h4>
            </div>
            <div class="heading">
              <h2>Welcome Back</h2>
              <h6>Not registered?</h6>
              <a routerLink="/registro" class="toggle">Sign Up</a>
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input type="text"
                minlength="4" class="input-field"
                autocomplete="off"
                required>
                <label for="">Name</label>
              </div>
              <div class="input-wrap">
                <input type="password"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required>
                <label for="">Pasword</label>
              </div>
              <input type="submit"
              value="Submit"
              class="sign-btn">
                <p class="text">Forgot Password? <br>
                  <a href="#">Get help</a>Signing In
                </p>
            </div>
          </form>

          <form action="login.component.html" autocomplete="off" class="sign-up-form">
            <div class="logo">
              <img src="../../../assets/icono.png" alt="logo">
              <h4>MascotHist</h4>
            </div>

            <div class="heading">
              <h2> Get Started</h2>
              <h6> Already Have a Count?</h6>
              <a routerLink="#" class="toggle"> Sign in</a>
            </div>
            <div class="actual-form">
              <div class="input-wrap">
                <input type="text"
                minlength="4"
                autocomplete="off"
                class="input-field"
                required>
                <label for="">Name</label>
              </div>

              <div class="input-wrap">
                <input type="email"
                class="input-field"
                autocomplete="off"
                required>
                <label for="">Email</label>
              </div>
                <div class="input-wrap">
                  <input type="password"
                  minlength="4"
                  class="input-field"
                  autocomplete="off"
                  required>
                  <label for="">Password</label>
                </div>

                <input type="submit" value="Sign Up" class="sign-btn">
                <p class="text">By Signing Up, I agree to the
                  <a href="#">Terms and Conditions</a>and
                  <a>Privacity and Policy</a>
                </p>
            </div>
          </form>
        </div>

        <div class="carousel">
          <img src="../../../assets/principal.svg" class="image img-1 show" alt="">
          <img src="../../../assets/img/friends.png" class="image img-2" alt="">
          <img src="../../../assets/img/gatoplay.png" class="image img-3" alt="">


          <div class="text-slider">
            <div class="text-wrap">
              <div class="text-group">
                <h2>Hola</h2>
                <h2>Hola de Nuevo</h2>
                <h2>Por si se me olvida</h2>
              </div>
            </div>

            <div class="bullets">
              <span class="active" data-value="1"></span>
              <span data-value="2"></span>
              <span data-value="3"></span>

            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
    <script src="login.js"></script>
</body>-->
